:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}
body {
  font-family: "Roboto Condesed" sans-serif;
}

/****************LOGO********************/
.logo {
  width: 23rem;
}
/***************NAVBAR*******************/
.nav a.nav-link {
  font-size: large;
  letter-spacing: 0.038rem;
  cursor: pointer;
}

/****************CAROUSEL*****************/
.Slider{
  width: 100%;
 height: 400px;
 object-fit: fill;

}
